.result-list {
    list-style: none;
    padding: 0;
}

.result-list>li {
    border-bottom: 1px solid #dbdbdb;
    padding: .5em;
    padding-top: 0;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.result-list>li>.content {
    padding: .5em;
}

.explanation-list {
    padding: 0;
}

.explanation-list>li {
    border: 1px solid #dbdbdb;
    background-color: #fafafa;
    padding: .5em;
    border-radius: 8px;
    margin-left: .4em;
}

.explanation-list .annotation {
    display: flex;
    align-items: center;
}

.explanation-list .annotation svg {
    margin-right: .5em;
}

.explanation-list .annotation span {
    margin-left: .3em;
}