<h3>{{ id }}</h3>

<div *ngIf="data">
  <h2>Folder List</h2>
  <ul>
    <li><a href="{{ urlRSplit(id) }}">{{ '../' }} </a></li>
    <li *ngFor="let folder of data.folders"> 
        <a href="{{ id + '/' + folder }}">{{ folder }} </a>
    </li>
  </ul>
  <div *ngIf="!id.endsWith('.jsonld')">
    <h2>File List</h2>
    <ul>
      <li *ngFor="let file of data.files"> 
          <a href="{{ id + '/' + file }}">{{ id + '/' + file }} </a>
      </li>
    </ul>
  </div>
</div>
<div *ngIf="id.endsWith('.jsonld')">
  <app-document-viewer [document]="data"></app-document-viewer>
</div>
