.tag-list {}

.tag-list ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 550px;
}

.tag-list li {
    padding: .5em;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    margin-bottom: .5em;
    border-radius: 8px;
    width: fit-content;
    cursor: pointer;
    margin-right: .5em;
}

.tag-list li:hover {
    background-color: #f3f3f3;
}