.file-input {
    width: 90%;
}

.file-annotations {
    border: 1px solid #dbdbdb;
    margin-right: 1em;
    min-height: 500px;
}

.file-annotations ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 550px;
}

.file-annotations li {
    padding: .5em;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    margin-bottom: .5em;
    border-radius: 8px;
    width: fit-content;
    cursor: pointer;
    margin-right: .5em;
}

.file-input {
    margin-bottom: 1em;
}