/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h2,
h3 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
}

.columns {
    display: flex;
}

.column {
    flex-grow: 1;
}

.column.medium {
    flex-basis: 35%;
    flex-grow: 0;
    flex-shrink: 0;
}

.column.large {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
}

.column.bordered {
    border-left: 1px solid #dbdbdb;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 400px;
    outline: none;
}

textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 400px;
    outline: none;
}