input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
    min-width: 400px;
    outline: none;
    /* Remove default focus outline */
}